body{
    background-color: #eccf7a;
    font: normal 18pt Arial;
}

header{
    color: rgb(249, 249, 249);
    text-align: center;
}

section{
    background-color: wheat;
    width: 600px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.652);
    margin: auto;
}

div{
    text-align: center;
    padding: 10px;
}

footer{
    color: rgb(255, 255, 255);
    text-align: center;
}